* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.schoolList {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.3rem;
    margin: 0.5rem 0;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.2s linear;
}

.schoolList:hover {
    color: blue;
    border-color: blue;
}

.active {
    color: blue;
    border-color: blue;
}

.deleteicon,
.editicon {
    transition: all 0.2s linear;
    cursor: pointer;
}

.deleteicon:hover {
    transform: scale(1.2);
}

.editicon:hover {
    transform: scale(1.2);
}

.togglebtn {
    color: green;
    transition: all 0.2s linear;
    cursor: pointer;
    background-color: white;
    border: 2px solid green;
    border-radius: 0.3rem;
}

.togglebtn:hover {
    transform: scale(1.2);
    background-color: green;
    color: white;
    font-weight: 600;
}

.btn {
    color: blue;
    background-color: white;
    border-color: blue;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.2s linear;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: blue;
}